@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/*RESETS*/
*{
    margin:0;
    padding:0;
}
/*END RESETS*/

html{
    font: 14px "Helvetica Neue", Helvetica, Arial, FontAwesome, sans-serif;

}

/*img{*/
    /*max-width: 100%;*/
    /*min-width: 100px;*/
/*}*/

/*START .upper-nav*/
.upper-nav{
    font-size: 0.8rem;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ebebeb;
}

.upper-nav ul{
    margin: 1% auto;
}

.upper-nav li{
    display: inline-block;
    padding-right: 5%;
    padding-left: 1%;
    border-right: 1px solid rgba(85, 85, 85, 0.3);
}

.upper-nav a{
    text-decoration: none;
    color:#555555;
}

.upper-nav select{
    border:none;
    background-color: #f8f8f8;
}

.upper-nav > .col-md-2{
    margin: 0.5% auto;
}

.upper-nav i{
    margin-left: 5%;
}
/*END .upper-nav*/

/*START .search-bar*/
.logo::before{
    content: url("../img/site-logo.jpg");
    vertical-align: -35%;
    padding-right: 3%;
}

.logo{
    font-weight: bold;
}

.search-bar{
    border: 1px solid rgba(85, 85, 85, 0.3);
    margin-top: 2%;
    border-radius: 20px;
}

.search-bar button{
    margin-left: 31.9%;
    padding: 1.5%;
    background-color: #eeeeee;
    border-radius: 150px;
    border: none;
}

.search-bar-nav select, .search-bar-nav input{
    border: none;
    padding: 1% 2%;
}

.search-bar-nav select{
    margin-right: 2%;
    border-right: 1px solid rgba(85, 85, 85, 0.3);
}


.shopping-card p{
    display: inline-block;
    margin-top: 5%;
}

.shopping-card i{
    font-size: 1.5rem;
    padding: 2%;
    background-color: #eeeeee;
    border-radius: 100px;
    position: relative;
}

.number-of-products{  /*Това не ми харесва как стана*/
    padding: 2px;
    background-color: #0188cc;
    border-radius: 150px;
    position: absolute;
    right: 85%;
    color:#ffffff;
}

.products{
    margin-left: 5%;
}

.products span{
    font-weight: bold;
}
/*END .search-bar*/


/*START navbar*/
.navbar{
    background-color: #0188cc;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
}

.flex-item-main-nav{
    flex-grow: 3;
}

.flex-item-hotline{
    flex-grow: 2;
}

.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul{
    margin-bottom: 0;
}

.navbar > .col-md-2, .navbar > .col-md-3{
    margin: 1% auto;
}

.hot-line{
    color:#ffffff;
}

.navbar li{
    display: inline-block;
    box-sizing: border-box;
    padding: 3%;
}

.navbar li:hover{
    background-color: #0076b3;
    cursor: pointer;
}

.navbar select{
    border:none;
    background-color: #0188cc;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar select:active{
    border:none;
}

.hot-line::before{
    font-family:  FontAwesome;
    content: "\f095";
    padding-right: 2%;
}

.navbar label{
    color:#ffffff;
}

#responsive-icon{
    padding: 10px;
    color: #ffffff;
    border-radius: 50px;
    position: absolute;
    top: 1%;
    left: 2%;
    display: none;

}

.navbar{
    margin-left: -1.3%;
}

.nav-hotline, .nav-select{
    margin-top: 2%;
}

.nav-select{
    margin-left: 2%;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    #responsive-icon{
        display: block;
    }

    nav div{
        display: none;
    }

    nav:hover div.nav-select, nav:hover div.nav-ul, nav:hover div.nav-hotline{
        display: block;
    }

    .navbar{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
    }

    .flex-item-nav-select, .flex-item-main-nav, .flex-item-hotline{
        flex-grow: 1;
    }

    .navbar li{
        display: block;
        padding: 0;
    }

    .search-bar-nav{
        position: relative;
    }

    .search-bar button{
        position: absolute;
        top: 1px;
        left: 61%;
        padding: 4px;
    }

    .number-of-products{
        position: absolute;
        right: 82%;
    }

    .number-of-products p{
        margin-left: 0.5%;
    }
}

@media screen and (max-width: 768px){
    .search-bar button{
        padding: 6px;
        left: 62%;
    }

    .number-of-products{
        right: 91.5%;
        top: 8%;
        padding: 5px;
    }


}

@media screen and (max-width: 480px){
    .search-bar button{
        padding: 4px;
        left: 62%;
    }

    .number-of-products{
        right: 89%;
        padding: 4px ;
    }
}
/*END navbar*/


/*START .newsletter-bar*/
.newsletter-bar{
    background-color: #0188cc;
    color: #ffffff;
}

.newsletter-bar > div{
    margin: 2% auto;
}

.food-span-left{
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3%;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.foot-span-right{
    padding-left: 3%;
    color: rgba(255, 255, 255, 0.5);
}

.discount-price{
    color: #ffffff;
    font-weight: bold;
}

.subscribe-email{
    font-size: 0.8rem;
    margin-left: 30%;
}

.subscribe-email button{
    border: none;
    background-color: #006599;
    padding: 2%;
    margin-left: -5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subscribe-email input{
    border: none;
    padding: 2%;
    width: 60%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:#000000;
}
/*END .newsletter-bar*/

/*START .foot-navbar*/

.foot-navbar{
    font-size: 0.8rem;
    border-bottom: 2px solid #ebebeb;
}

.foot-navbar ul{
    margin: 0.5% auto;
}

.foot-navbar li{
    display: inline-block;
    margin: auto 2%;
}

.foot-navbar a{
    text-decoration: none;
    color: #000000;
}
/*END0 .foot-navbar*/

/*START .foot-bottom*/
.foot-bottom h1{
    font-size: 2rem;
    padding-bottom: 15%;
}

.foot-bottom li, p{
    padding: 2% 0;
    list-style-type: none;
}

.foot-bottom a{
    text-decoration: none;
    color: #000000;
}

.foot-bottom i{
    margin-left: 10%;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and  (max-width: 768px){
    .foot-bottom h1{
        padding-bottom: 1%;
    }
}

@media screen and (max-width: 480px){

}
/*END .foot-bottom*/

/*START .main-slider*/
.main-slider{
    background: url("../img/placehold-main-slider-800x500.png");
    height: 500px;
    margin-top: -1.7%;
}

.main-slider img{
    max-width: 100%;
}

.main-slider h2{
    margin: 15% auto auto 4%;
    font-size: 2rem;
    color: #888888;
}

.main-slider h1, .main-slider h3{
    margin-left: 4%;
}

.main-slider h1{
    font-weight: bold;
    color: #0088ce;
}

.main-slider h3{
    color: #888888;
    font-size: 1.5rem;
}

.main-slider h3 > span{
    font-size: 2.5rem;
    color: #000000;
    font-weight: bold;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    .main-slider{
        max-width: 100%;
    }
}

@media screen and (max-width: 768px){
    .main-slider h2{
        margin-top: 2%;
    }
}

@media screen and (max-width: 480px){
    .main-slider{
        width: 100%;
    }

}

/*END .main-slider*/

/*START .top-product*/
.top-product{
    background: url("../img/placehold-top-product-370x250.png");
    width: 380px;
    height: 250px;
    margin-top: -5.5%;
    margin-left: -4.5%;
    /*border: 2px solid red;*/
    /*TODO: fuck them*/
}

.top-product  h2{
    padding: 15% 0 0 4%;
    font-size: 1.3rem;
    color: #888888;
}

.top-product h1, .top-product h3{
    margin-left: 4%;
}

.top-product h1{
    color: #0088ce;
    font-weight: bold;
    font-size: 2rem;
}

.top-product h3{
    color: #000000;
    font-size: 2.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

}
/*START .top-product*/

/*START .weekly-sale*/
.weekly-sale{
    background-color: #0088ce;
    margin-top: -6%;
    margin-left: -4.5%;
    width: 391px;
    height: 272px;
    text-align: center;
    vertical-align: middle;
}

.weekly-sale h1{
    padding-top: 20%;
    color: #ffffff;
}

.weekly-sale h1 > span{
    color: #000000;
    font-weight: bold;
}

.weekly-sale p{
    color: rgba(255, 255, 255, 0.5);
}

.weekly-sale button{
    padding: 10px 20px;
    background-color: #006ea3;
    border: none;
    border-radius: 20px;
    color: #ffffff;
}

.weekly-sale button:hover{
    background-color: #007cb5;
}

.weekly-sale button a{
    text-decoration: none;
    color: #ffffff;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    .weekly-sale{
        height: 267px;
    }
}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px){

}
/*END .weekly-sale*/

/*START .services*/
.services h1{
    font-size: 1rem;
    margin-bottom: 0;
    font-weight: bold;
}

.services p{
    color: #989898;
    padding-top: 0.5%
}

.services i{
    font-size: 3rem;
    margin-top: 30%;
    color: #0088cc;
}

.services section{
    margin: 5% auto;
}

.free-shipping{
    border: 2px solid  #dddddd;
}

.money-returns{
    border-top: 2px solid  #dddddd;
    border-bottom: 2px solid  #dddddd;;
}

.support{
    border: 2px solid  #dddddd;
}

.safe-payment{
    border: 2px solid  #dddddd;
    border-left: none;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){
    .services .row{
        text-align: center;
    }

    .services i{
        margin-top:2%;
    }

    .services section{
        margin-top: 0.5%;
        margin-bottom: 0.5%;
    }
}

@media screen and (max-width: 480px){

}
/*END .services*/

/*START #tabs*/
#tabs{
    padding: 0;
}

#tabs ul{
    margin-bottom: 0;
}

#tabs li{
    display:inline-block;

}

#tabs li a{
    display: block;
    color: #000000;
    background-color: #f2f2f2;
    padding: 10px;
    text-decoration: none;
}

#tabs li a:focus{
    background-color: #0188cc;
    color: #ffffff;
}

#tabs section{
    padding: 0;
    position: relative;
}

#tabs img{
    padding: 3%;
}

#tabs h2{
    font-size: 1.5rem;
    color: #aaaaaa;
}

#tabs h1{
    font-size: 2rem;
    color: #0168b7;
}

#tabs h1 a:hover{
    color: #0168b7;
}

.product-price span a{
    text-decoration: none;
    color: #949494;
    padding: 5px;
}

.product-price span a:hover{
    color: #ffffff;
}

.product-price .shopping-card-income{
    position: absolute;
    left: 70%;
    background-color: #efefef;
    border-radius: 100px;

}

.product-price .shopping-card-income:hover{
    background-color: #0188ca;
    color: #ffffff;
}

#tabs ul{
    margin-left: 4%;
}

#tabs ul li:focus{
    background-color: #0188cc;
}

/*.more-info{*/
    /*position: relative;*/
    /*top: -32px;*/
    /*left: 15%;*/
    /*text-align: center;*/
    /*background-color: #0188cc;*/
    /*width: 190px;*/
    /*display: none;*/
/*}*/

.product-container{
    border: 2px solid #e6e6e6;
    margin: 1% 0.5%;
}

.product-container h1, .product-container h2, .product-container h3, .product-container p{
    margin-left: 3%;
}

.product-container h3{
    margin-bottom: 5%;
}

.product-discount{
    position: absolute;
    top: 1.6%;
    left: 3.3%;
    width: 18%;
    background-color: #f63233;
    color:#ffffff;
    padding: 3px;
    text-align: center;
}

.product-price .product-discount-price{
    color: #f63233;
    margin-left: 2%;
    text-decoration: line-through;
}

.new-product{
    background-color: #0188cc;
}

.favorite-product{
    position: absolute;
    top: 3%;
    left: 80%;
}

.product-details{
    position: absolute;
    top: 13%;
    left: 80%;
}

.favorite-product button, .product-details button{
    border: none;
    padding: 7px;
    border-radius: 100px;
    background-color: #e7e7e7;
    color: #aaaaaa;
}

.favorite-product button:hover{
    background-color: #f63234;
    color: #ffffff;
}

.product-details button:hover{
    background-color: #0188cc;
    color: #ffffff;
}

#tabs .rate{
    margin-left: 3%;
}

#tabs .product-discount{
    width: 18%;
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){
    #tabs ul{
        margin-left: 6%;
    }
}

@media screen and (max-width: 768px){
    #tabs ul{
        margin-left: 8%;
    }
}

@media screen and (max-width: 480px){
    #tabs .flex-box-container{
        flex-direction: column;
    }

    #tabs ul{
        margin-left: 3.5%;
    }

    #tabs img{
        margin-left: 25%;
    }

    #tabs h2, #tabs h1, #tabs .stars-rate, #tabs .product-price{
        text-align: center;
    }

    #tabs h2{
        margin-top: 0.5%;
    }

    #tabs h1{
        margin-top: -1%;
    }

    #tabs .stars-rate{
        margin-top: -4%;
    }

    #tabs .product-price{
        margin-top: -4%;
    }

    #tabs .shopping-card-income{
        margin-left: 10%;
    }

    #tabs .favorite-product, #tabs .product-details{
        left: 63%;
        top: 6%;
    }

    #tabs .product-details{
        top: 17%;
    }

    #tabs .product-discount{
        left: 28%;
        top: 4%;
        width: 12%;
    }
}
/*END #tabs*/

/*START .top-selling-week*/

.flex-box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item{

}

.most-selling-container{
    background: url("../img/placehold-top-selling-product-450x340.png");
    width: 450px;
    height: 340px;
    vertical-align: top;
    max-width: 100%;
}


.most-selling-container h1{
    margin-top: 15%;
    font-size: 2rem;
    font-weight: bold;
}

.most-selling-container h1, .most-selling-container p, .most-selling-container span, .most-selling-container button{
    margin-left: 5%;
}

.most-selling-container span{
    color: #aaaaaa;
    margin-left: 0;
    padding-left: 2%;
}

.most-selling-container span:first-of-type{
    border-right: 2px solid #aaaaaa;
    padding-right: 3%;
    margin-left: 3%;
}

.most-selling-container button{
    margin-top: 10%;
    padding: 5px 10px;
    border: none;
    background-color: #0188cc;
    color: #ffffff;
    border-radius: 15px;
}

.most-selling-container button:hover{
    background-color: #01669e;
}

.most-selled-product .product-container{
    vertical-align: top;
    margin-top: 0;
    position: relative;
}

.most-selled-product .product-container img{
    max-width: 100%;
    padding: 3%;
}

.most-selled-product .product-container .favorite-product, .most-selled-product .product-container .product-details{
    position: absolute;
    top: 4%;
    left: 80%;
}

.most-selled-product .product-container .product-details{
    top: 16%;
}

.most-selled-product .product-container h1{
    margin: 2% 0 0 0;
    font-size: 2rem;
}

.most-selled-product .product-container h1 a{
    color: #0068b9;
}

.most-selled-product .product-container h2{
    margin: 2% 0 0 0;
    font-size: 1rem;
    color: #aaaaaa;
}

.most-selled-product .product-container h1, .most-selled-product .product-container h2, .most-selled-product .product-container p{
    margin-left: 5%;
}

.most-selled-product .product-container .product-discount{
    width: 18%;
    position: absolute;
    top: 2%;
    left: 3%;
}

.most-selled-product-second-row .product-container{
    margin: 1% 1%;
}

.most-selled-product .product-discount-price{
    margin-right: 3%;
}

.top-selling-label{
    margin: 3% 1% 3% 1%;
    font-size: 1.8rem;
    padding-bottom: 1%;
    border-bottom: 2px solid #e5e5e5;
    font-weight: bold;
}

.top-selling{
    background-color: #f8f8f8;
}

@media screen and (max-width: 1024px){
    .most-selled-product-second .product-container .favorite-product, .most-selled-product-second .product-container .product-details{
        left: 60%;
    }

    .most-selled-product-second-row .product-container .favorite-product, .most-selled-product-second-row .product-container .product-details{
        left: 78%;
    }
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 480px){
    .top-selling .flex-box-container{
        flex-direction: column;
    }

    .most-selling-container{
        margin: 0 auto;
    }

    .most-selled-product .product-container img{
        padding: 0;
        margin: 1% 30% 0.5% 30%;
    }

    .most-selled-product .product-container h1, .most-selled-product .product-container h2, .most-selled-product .product-container .stars-rate, .most-selled-product .product-container .product-price{
        text-align: center;
        margin-top: 0.5%;
    }

    .most-selled-product .product-container .stars-rate{
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .most-selled-product .product-container .stars-rate .rate{
        margin-left: 5%;
    }

    .most-selled-product .product-container .product-price{
        font-size: 1.5rem;
        margin-top: 0;
    }

    .most-selled-product .product-container .product-price .shopping-card-income{
        margin-left: 10%;
    }

    .most-selled-product .product-container .favorite-product, .most-selled-product .product-container .product-details{
        left: 63%;
    }

    .most-selled-product .product-container .product-details{
        top: 18%;
    }

    .most-selled-product .product-container .product-discount{
        left: 30%;
        top: 2%;
        width: 12%;
    }

    .most-selled-product-second-row .product-container .favorite-product, .most-selled-product-second-row .product-container .product-details{
        left: 60%;
    }

    .most-selled-product-second-row .product-container{
        margin: 0.5% 1%;
    }
}


/*END .top-selling-week*/

/*START .from-blog*/

.blog-post-container{
    margin-bottom: 10%;
}

.from-blog-label{
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.8rem;
    padding-bottom: 1%;
    border-bottom: 2px solid #e5e5e5;
}

.from-blog-label h1{
    font-size: 2rem;
    font-weight: bold;
}

.blog-post-comments-date{
    color: #999999;
    margin-bottom: 0.5%;
}

.blog-post-comments-date i{
    color: #dddddd;
}

.blog-post-container h1{
    font-size: 1.8rem;
    margin-top: 0.5%;
    font-weight: bold;
}

.blog-post-container a{
    text-decoration: none;
    color: #0187ce;
}

.blog-post-container a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 992px){
    .from-blog article{
        width: 95%
    }

    .from-blog{
        text-align: center;
    }

    .blog-post-container{
        margin-bottom: 1%;
    }
}
/*END .from-blog*/


/*START stars*/
.stars-rate{
    font-size: 1.5rem;
}

.yellow-star{
    color: #ffca00;
}

.grey-star, .rate{
    color: #aaaaaa;
}

.rate{
    margin-left: 15%;
}

.top-selling .stars-rate{
    font-size: 1.2rem;
}
/*END stars*/

.product-price{
    margin-top: 4%;
    margin-bottom: 1%;
}