@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");


/*RESETS*/
*{
    margin:0;
    padding:0;
}
/*END RESETS*/

html{
    font: 14px "Helvetica Neue", Helvetica, Arial, FontAwesome, sans-serif;

}


/*START .UPPER-NAV*/
.upper-nav{
    font-size: 0.8rem;
    background-color: #f8f8f8;
    border-bottom: 2px solid #ebebeb;
}

.upper-nav ul{
    margin: 1% auto;
}

.upper-nav li{
    display: inline-block;
    padding-right: 5%;
    padding-left: 1%;
    border-right: 1px solid rgba(85, 85, 85, 0.3);
}

.upper-nav a{
    text-decoration: none;
    color:#555555;
}

.upper-nav select{
    border:none;
    background-color: #f8f8f8;
}

.upper-nav > .col-md-2{
    margin: 0.5% auto;
}

.upper-nav i{
    margin-left: 5%;
}
/*END .UPPER-NAV*/

/*START .SEARCH-BAR*/
.logo::before{
    content: url("../img/site-logo.jpg");
    vertical-align: -35%;
    padding-right: 3%;
}

.logo{
    font-weight: bold;
}

.search-bar{
    border: 1px solid rgba(85, 85, 85, 0.3);
    margin-top: 2%;
    border-radius: 20px;
}

.search-bar i{
    margin-left: 30%;
    padding: 1.5%;
    background-color: #eeeeee;
    border-radius: 100px;
}

.search-bar-nav select, .search-bar-nav input{
    border: none;
    padding: 1% 2%;
}

.search-bar-nav select{
    margin-right: 2%;
    border-right: 1px solid rgba(85, 85, 85, 0.3);
}


.shopping-card p{
    display: inline-block;
    margin-top: 5%;
}

.shopping-card i{
    font-size: 1.5rem;
    padding: 2%;
    background-color: #eeeeee;
    border-radius: 100px;
    position: relative;
}

.number-of-products{  /*Това не ми харесва как стана*/
    padding: 2px;
    background-color: #0188cc;
    border-radius: 150px;
    position: absolute;
    right: 85%;
    color:#ffffff;
}

.products{
    margin-left: 5%;
}

.products span{
    font-weight: bold;
}
/*END .SEARCH-BAR*/


/*START NAVBAR*/
.navbar{
    height: 5%;
    background-color: #0188cc;
    border-radius: 0;
}


.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul{
    margin-bottom: 0;
}

.navbar > .col-md-2, .navbar > .col-md-3{
    margin: 1% auto;
}

.hot-line{
    color:#ffffff;
}

.navbar li{
    display: inline-block;
    padding: 2% 5%;
}

.navbar li:hover{ /*TODO: have a bottom margin or padding?*/
    background-color: #0076b3;
    cursor: pointer;
}

.navbar select{
    border:none;
    background-color: #0188cc;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar select:active{
    border:none;
}

.hot-line::before{
    font-family:  FontAwesome;
    content: "\f095";
    padding-right: 2%;
}

.navbar label{
    color:#ffffff;
}
/*END NAVBAR*/


/*START .NEWSLETTER-BAR*/
.newsletter-bar{
    background-color: #0188cc;
    color: #ffffff;
}

.newsletter-bar > div{
    margin: 2% auto;
}

.food-span-left{
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 3%;
    border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.foot-span-right{
    padding-left: 3%;
    color: rgba(255, 255, 255, 0.5);
}

.discount-price{
    color: #ffffff;
    font-weight: bold;
}

.subscribe-email{
    font-size: 0.8rem;
    margin-left: 30%;
}

.subscribe-email button{
    border: none;
    background-color: #006599;
    padding: 2%;
    margin-left: -5px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.subscribe-email input{
    border: none;
    padding: 2%;
    width: 60%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color:#000000;
}
/*END .NEWSLETTER-BAR*/

/*START .FOOT-NAVBAR*/

.foot-navbar{
    font-size: 0.8rem;
    border-bottom: 2px solid #ebebeb;
}

.foot-navbar ul{
    margin: 0.5% auto;
}

.foot-navbar li{
    display: inline-block;
    margin: auto 2%;
}

.foot-navbar a{
    text-decoration: none;
    color: #000000;
}
/*END0 .FOOT-NAVBAR*/

/*START .FOOT-BOTTOM*/
.foot-bottom h1{
    font-size: 2rem;
    padding-bottom: 15%;
}

.foot-bottom li, p{
    padding: 2% 0;
    list-style-type: none;
}

.foot-bottom a{
    text-decoration: none;
    color: #000000;
}

.foot-bottom i{
    margin-left: 10%;
}
/*END .FOOT-BOTTOM*/